# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual environment
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Model checkpoints
checkpoints/
models/

# W&B
wandb/

# Outputs
outputs/

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Logs
*.log

# Cache
.cache/